nav {
    height: 64px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    position: relative;
}

.hamburger {
    height: 100%;
    display: none;
}

.menu-links{
    display: none;
}

.hamburger img {
    height: 80%;
}

.links {
    height: 100%;
    display: flex;
    align-items: center;
}

.links ul {
    height: 100%;
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 2rem;
    padding-right: 2rem;
    position: relative;
}

.links ul li {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
}

.links ul li:hover {
    border-radius: 0.5rem;
    background-color: aqua;
    box-shadow: inset 0px 0px 3px 0px black;
}

@media screen and (max-width: 576px) {
    .hamburger {
        display: flex;
        align-items: center;
    }

    .links {
        display: none;
    }

    .menu-links {
        width: 100%;
        background-color: red;
        display: flex;
        justify-content: center;
        position: absolute;
        transition: 0.5s all;
        top: -500px;
        z-index: -10;
    }

    .menu-links.active {
        top: 64px;
    }

    .menu-links li {
        list-style: none;
        padding: 1rem;
        font-weight: 500;
    }
}