nav {
    height: 64px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    position: relative;
}

.hamburger {
    display: none;
}


.links {
    min-height: 100%;
    display: flex;
    align-items: center;
    
}

.links ul {
    height: 100%;
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 2rem;
    padding-right: 2rem;
    position: relative;
}

.links ul li {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.75rem;
}

.links ul li:hover {
    border-radius: 0.5rem;
    background-color: rgb(232, 137, 137);
    box-shadow: inset 0px 0px 3px 0px black;
}

@media screen and (max-width: 576px) {
    .hamburger {
        display: block;
        height: 50px;
        width: 50px;
        position: relative;
        cursor: pointer;
    }


    .hamburger span{
        height: 5px;
        width: 100%;
        background-color: black;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s all ease;
    }

    .hamburger span:nth-child(1){
        top: 25%;
    }
    .hamburger.active span:nth-child(2){
        opacity: 0;
    }
    .hamburger span:nth-child(3){
        top: 75%;
    }

    .hamburger.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .hamburger.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .content{
        position: relative;
        z-index: -15;
    }

    .links ul {
        flex-direction: column;
        gap: 0;
    }

    .links {
        min-height: 0;
        width: 100%;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        transition: 1s all;
        left: 0;
        top: 64px;
        gap: 0;
        max-height: 0;
        overflow: hidden;
    }

    .links.active {
        max-height: 400px;
    }
    

    .links li {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-weight: 500;
    }
}