body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 95%;
    height: 90%;
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 'one' 'two' 'three' 'four' 'five';
    padding: 15px;
}

@media screen and (min-width: 768px) {
    .container{
      grid-template-areas: 
      'one one two'
      'three three two'
      'four five five'
      ;
    }
}
@media screen and (min-width: 1024px) {
    .container{
        grid-template-areas: 
       'one one two three'
       'four five five three'
       ;
    }
}
.container div {
    box-shadow: 0 0 5px #111;
    border-radius: 5px;
    transition: filter 0.5s, transform 0.5s;
    cursor: pointer;
}

.container div:hover {
    transform: scale(1.005);
    filter: blur(2px);
}

.box img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.box1 {
    grid-area: one;
}

.box2 {
    grid-area: two;
}

.box3 {
    grid-area: three;
}

.box4 {
    grid-area: four;
}

.box5 {
    grid-area: five;
}
